/* Simple sidebar */
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Card */
.card {
  width: 100%;
  margin-bottom: 15px;
}

/* Loading spinner */
.spinner-border {
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Footer */
footer {
  margin-top: 20px;
}

footer ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

footer li {
  text-align: center;
}

footer li a {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

footer li a:hover {
  transform: scale(1.05);
}

/* Form */
form {
  margin-bottom: 15px;
}

input {
  border-radius: 5px;
  border-width: 1px;
}